.password-reset {
	min-width: 300px;
	max-width: 400px;
	height: 100%;
	min-height: 300px;

	display: flex;
	flex-direction: column;

	@media (max-width: 1050px) {
		max-width: 300px;
	}

	@media (max-width: 650px) {
		max-width: 400px;
	}

	@media (max-width: 450px) {
		min-width: 250px;
	}

	&__title {
		text-transform: uppercase;
		font-size: 24px;
		font-family: Montserrat;
		font-weight: 800;
		margin: 0;
		padding-bottom: 35px;

		@media (max-width: 450px) {
			padding-bottom: 25px;
			font-size: 18px;
		}
	}

	&__info {
		$extra-space: 40px;

		margin-bottom: 30px;
		padding: 20px;
		padding-right: calc(20px + #{$extra-space});
		color: $primary-dark;
		background: $primary-light;
		border-radius: 3px;
	}

	&__input {
		margin-bottom: 25px;
	}

	&__submit {
		margin-top: 10px;
		margin-bottom: 40px;
	}

	&__login-button {
		text-align: center;
		margin-top: auto;
	}
}
