.ui-alert {
	background: $white;
	padding: 12px 10px;
	font-size: 14px;
	border-radius: 3px;

	animation: fadein 0.6s;

	&.hide {
		animation: fadeout 0.6s;
	}
}

@keyframes fadein {
	from {
		font-size: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		font-size: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
	}
}
