.ui-alert {
	position: relative;
	background: $white;
	border-radius: 3px;
	animation: fadein 0.6s;

	&-inner {
		display: flex;
		justify-content: space-between;

		padding: 12px 10px;
		font-size: 14px;
	}

	&.hide {
		animation: fadeout 0.6s;
	}

	&__close {
		padding-left: 15px;
	}

	&__loading {
		position: absolute;
		bottom: 0;

		height: 5px;
		background: $primary;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

@keyframes fadein {
	from {
		font-size: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		font-size: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
	}
}
