.auth-default {
	background-color: $primary-lightest;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&-inner {
		width: 100%;
		height: max-content;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__description {
		min-height: 500px;
		width: 100%;
		min-width: 300px;
		max-width: 500px;

		background-color: $primary;
		padding: 50px;
		margin-bottom: auto;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		display: flex;
		flex-direction: column;

		@media (max-width: 1050px) {
			padding: 45px 35px;
		}

		@media (max-width: 800px) {
			padding: 40px 25px;
			width: 60%;
		}

		@media (max-width: 650px) {
			display: none;
		}

		&-title {
			flex-grow: 1;
			color: $white;
			word-break: break-word;
			text-transform: uppercase;
			font-family: Montserrat;
			font-size: 32px;
			font-weight: bold;
			line-height: 144.19%;
			margin: 0;
			padding-bottom: 40px;

			@media (max-width: 870px) {
				font-size: 24px;
			}
		}
	}

	&__small-description {
		display: none;

		@media (max-width: 650px) {
			display: flex;
			align-items: center;
			justify-content: center;

			position: absolute;
			top: 0;

			width: 100%;
			padding: 30px 20px;
			color: $primary;
			word-break: break-word;
			text-transform: uppercase;
			font-family: Montserrat;
			font-size: 24px;
			font-weight: bold;
			line-height: 144.19%;
			text-align: center;
		}

		@media (max-width: 450px) {
			font-size: 20px;
			padding: 25px 15px;
		}
	}

	&__children {
		min-height: 500px;
		width: 100%;
		min-width: 300px;
		max-width: 450px;

		padding: 50px 80px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		background-color: $white;
		margin-bottom: auto;

		@media (max-width: 1050px) {
			padding: 50px 50px;
		}

		@media (max-width: 800px) {
			padding: 40px 35px;
		}

		@media (max-width: 650px) {
			min-height: auto;
		}

		@media (max-width: 450px) {
			padding: 30px 20px;
		}
	}

	.slogan {
		background-color: $white;
		padding: 25px;
		border-radius: 3px;

		@media (max-width: 870px) {
			padding: 15px;
		}

		&__title {
			font-size: 16px;
			margin-bottom: 20px;

			@media (max-width: 870px) {
				margin-bottom: 15px;
			}
		}

		&__description {
			font-size: 14px;
			line-height: 144.19%;

			display: flex;
			justify-content: space-between;
			align-items: center;

			&-icon {
				color: $primary;
				font-size: 30px;
				margin-left: 25px;
			}
		}
	}
}
