/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

input::placeholder {
	color: $gray;
	font-size: 14px;
}

.ui-input {
	&__label {
		font-size: 14px;
		padding-bottom: 4px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		background: $gray-lightest;
		color: $black;
		border-radius: 5px;
		border: 2px solid transparent;

		&.focus {
			border-color: $primary;
		}
	}

	&__input {
		border: none;
		background-image: none;
		background-color: transparent;
		box-shadow: none;
		outline: none;

		padding: 6px 15px;
		font-size: 14px;
	}

	&__right {
		padding-right: 15px;
	}
}
